<dom-module id="Task-edit">
<template>
	<iron-ajax id="ajax" url='/Task/' method='PUT' handle-as="json" on-response="record_updated" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">Editar Actividad</h2>
		<form id="form" action="javascript:void(0);" on-submit="update">
			<paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">id</label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="activity">activity<strong class="red"> *</strong></label></td>
				<td><input id="activity" type="text" name="activity" value="{{item.activity}}" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="finicio">finicio</label></td>
				<td><input id="finicio" type="date" name="finicio" value="{{item.finicio}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="fcompromiso">fcompromiso</label></td>
				<td><input id="fcompromiso" type="date" name="fcompromiso" value="{{item.fcompromiso}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="responsable">responsable</label></td>
				<td><input id="responsable" type="text" name="responsable" value="{{item.responsable}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="proyecto">proyecto</label></td>
				<td><input id="proyecto" type="text" name="proyecto" value="{{item.proyecto}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ultseguimiento">ultseguimiento</label></td>
				<td><input id="ultseguimiento" type="date" name="ultseguimiento" value="{{item.ultseguimiento}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="proxseguimiento">proxseguimiento</label></td>
				<td><input id="proxseguimiento" type="date" name="proxseguimiento" value="{{item.proxseguimiento}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="observacion">observacion</label></td>
				<td><input id="observacion" type="text" name="observacion" value="{{item.observacion}}"></td>
			</tr>
			</table>
			</paper-dialog-scrollable>
		<div class="buttons">
			<input id="submit_update" class="hide" type="submit" value="CAMBIAR">
			<div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised>CAMBIAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
		</form>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Task-edit",
		open_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			},
		submit_form: function() {
			this.$.submit_update.click()
		},
		update: function() {
			var record = {}
			record.id = Number(this.$.id.value)
			record.activity = this.$.activity.value
			if (this.$.finicio.value)
				record.finicio = this.$.finicio.value
			if (this.$.fcompromiso.value)
				record.fcompromiso = this.$.fcompromiso.value
			record.responsable = this.$.responsable.value
			record.proyecto = this.$.proyecto.value
			if (this.$.ultseguimiento.value)
				record.ultseguimiento = this.$.ultseguimiento.value
			if (this.$.proxseguimiento.value)
				record.proxseguimiento = this.$.proxseguimiento.value
			record.observacion = this.$.observacion.value		
			this.$.ajax.url = '/Task/'+record.id
			this.$.ajax.params = record
			this.$.ajax.generateRequest()
		},
		record_updated: function() {
			alert("record updated")
			this.$.dialog.close()
			this.fire('close')
		}
	})
</script>
</dom-module>