<!-- new-form: version 5.00 -->
<dom-module id="Model-new">
<template>
	<iron-ajax id="ajax" handle-as="json" on-response="validate_record" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax2" method="POST" handle-as="json" on-response="record_created" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<Attribute-select id="Attribute_select_dialog" on-item_selected="set_select_field"></Attribute-select>
		<h2 class="card_title">Crear Model</h2>
		<paper-dialog-scrollable>
		  <form id="form" action="javascript:void(0);" on-submit="create">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><input id="id" type="number" name="id" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name">Name<strong class="red"> *</strong></label></td>
				<td><input id="name" type="text" name="name" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="title">Title<strong class="red"> *</strong></label></td>
				<td><input id="title" type="text" name="title" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="primaryKey">Primary Key</label></td>
				<td><iron-icon icon="find-in-page" field="primaryKey" on-click="select_field_b"></iron-icon><input id="primaryKey" type="text" name="primaryKey" key=0 on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="autoIncrement">AutoIncrement</label></td>
				<td><select id="autoIncrement" name="autoIncrement">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="unique">Unique</label></td>
				<td><input id="unique" type="text" name="unique"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="menu">Menu</label></td>
				<td><select id="menu" name="menu">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			</table>
			<div class="buttons">
				<input id="submit_btn" class="hide" type="submit" value="CREAR">
				<div class="card_line">
					Repetir <input id="repeat" type="checkbox" name="repeat">
					<paper-button id="create_btn" class="btn" on-click="submit_form" raised>CREAR</paper-button>
					<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
				</div>
			</div>
		  </form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Model-new",
		open_dialog: function() {
			this.clear()
			this.$.dialog.open()
		},
		clear: function() {
			this.$.id.value = ''
			this.$.name.value = ''
			this.$.title.value = ''
			this.$.primaryKey.value = ''
			this.$.primaryKey.key = 0
			this.$.unique.value = ''
		},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
			if (this.field == "primaryKey")
				this.$.Attribute_select_dialog.open_select_dialog()
		},
		set_select_field: function(e) {
			this.$[this.field].value = this.$[e.srcElement.id].item.name
			this.$[this.field].key = this.$[e.srcElement.id].item.key
		},
		create: function() {
			this.$.ajax2.url = config_server() + "Model"
			var record = {}
			  record.name = this.$.name.value
			  record.title = this.$.title.value
			record.primaryKey = this.$.primaryKey.key
			  record.autoIncrement = this.$.autoIncrement.value
			  record.unique = this.$.unique.value
			  record.menu = this.$.menu.value			
			this.$.ajax2.params = record
			this.$.ajax2.generateRequest()
		},
		record_created: function() {
			alert("Created Model id="+this.$.ajax2.lastResponse.id)
			// ask for create another one
			if (!this.$.repeat.checked) {
				this.$.dialog.close()
				this.fire('close')
			} else 
				this.clear()
		},
		submit_form: function() {
			if (!isNaN(this.$.id.value))
			{
				if (this.$.id.value > 0)
				{
					this.$.ajax.url = config_server() + "Model/exist/"+this.$.id.value
					this.$.ajax.generateRequest()
				}
				else this.$.submit_btn.click()
			} else
				this.$.submit_btn.click()
		},
		validate_record: function() {
			if (this.$.ajax.lastResponse.exist)
				alert("Registro ya Existe")
			else
				this.$.submit_btn.click()
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("Error Procesando Solicitud: ", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>