<!-- list-columns: version 5.00 -->
<dom-module id="ModelFunction-list-columns">
<template>
<style>
	/*#dialog {
		width: 24em;
	}*/
	.green {
		background-color: green;
		color: white;
		height: 30px;
	}
	.orange {
		color: white;
		background-color: orange;
		height: 30px;
	}
</style>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title">Columnas Funcion</h2>
			<paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><div id="id" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_name">Model</label></td>
				<td><div id="model_name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name">Name</label></td>
				<td><div id="name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type">Type</label></td>
				<td><div id="type" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enable">Enable</label></td>
				<td><div id="enable" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="width">Width</label></td>
				<td><div id="width" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="width_unit">Unit</label></td>
				<td><div id="width_unit" on-click="change_field"></div></td>
			</tr>
			</table>
			</paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised>CAMBIAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "ModelFunction-list-columns",
		properties: {
			//updated: false,
			//column: {}
		},
		open_list_columns: function(column) {
			this.updated= false,
			this.column= column
			this.show_field("id")
			this.show_field("model_name")
			this.show_field("name")
			this.show_field("type")
			this.show_field("enable")
			this.show_field("width")
			this.show_field("width_unit")
			this.$.dialog.open()
		},
		change_field: function(e) {
			var field = e.toElement.id
			this.column[field] = !this.column[field]
			this.show_field(field)
		},
		show_field: function(field) {
			if (this.column[field])
			{
				this.$[field].innerHTML = "Visible"
				this.$[field].classList.remove("orange")
				this.$[field].classList.add("green")
			}
			else
			{
				this.$[field].innerHTML = "Oculto"
				this.$[field].classList.remove("green")
				this.$[field].classList.add("orange")
			}
		},
		submit_form: function() {
			this.updated = true
			this.$.dialog.close()
			this.fire('close')
		}
	})
</script>
</dom-module>