<dom-module id="Product-list-columns">
<template>
<style>
	/*#dialog {
		width: 24em;
	}*/
	.green {
		background-color: green;
		color: white;
		height: 30px;
	}
	.orange {
		color: white;
		background-color: orange;
		height: 30px;
	}
</style>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title">Columnas Producto</h2>
			<paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><div id="id" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name">Nombre</label></td>
				<td><div id="name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="Categoria_name">Categoria</label></td>
				<td><div id="Categoria_name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="stock">Existencia</label></td>
				<td><div id="stock" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="price">Precio</label></td>
				<td><div id="price" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status">Status</label></td>
				<td><div id="status" on-click="change_field"></div></td>
			</tr>
			</table>
			</paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised>CAMBIAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Product-list-columns",
		properties: {
			//updated: false,
			//column: {}
		},
		open_list_columns: function(column) {
			this.updated= false,
			this.column= column
			this.show_field("id")
			this.show_field("name")
			this.show_field("Categoria_name")
			this.show_field("stock")
			this.show_field("price")
			this.show_field("status")
			this.$.dialog.open()
		},
		change_field: function(e) {
			var field = e.toElement.id
			this.column[field] = !this.column[field]
			this.show_field(field)
		},
		show_field: function(field) {
			if (this.column[field])
			{
				this.$[field].innerHTML = "Visible"
				this.$[field].classList.remove("orange")
				this.$[field].classList.add("green")
			}
			else
			{
				this.$[field].innerHTML = "Oculto"
				this.$[field].classList.remove("green")
				this.$[field].classList.add("orange")
			}
		},
		submit_form: function() {
			this.updated = true
			this.$.dialog.close()
			this.fire('close')
		}
	})
</script>
</dom-module>