<dom-module id="Attribute-list-columns">
<template>
<style>
	/*#dialog {
		width: 24em;
	}*/
	.green {
		background-color: green;
		color: white;
		height: 30px;
	}
	.orange {
		color: white;
		background-color: orange;
		height: 30px;
	}
</style>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title">Columnas Atributo</h2>
			<paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><div id="id" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pos">Pos</label></td>
				<td><div id="pos" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_name">Model</label></td>
				<td><div id="model_name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="attribute">Attribute</label></td>
				<td><div id="attribute" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="description">Description</label></td>
				<td><div id="description" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type">Type</label></td>
				<td><div id="type" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="required">Required</label></td>
				<td><div id="required" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enum">Enum</label></td>
				<td><div id="enum" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ref_model_name">Reference Model</label></td>
				<td><div id="ref_model_name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key">Key</label></td>
				<td><div id="key" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key_type">Key Type</label></td>
				<td><div id="key_type" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_display_name">mdl Display</label></td>
				<td><div id="model_display_name" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="top_label">Top Label</label></td>
				<td><div id="top_label" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="left_label">Left Label</label></td>
				<td><div id="left_label" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="not_filter">Not Filter</label></td>
				<td><div id="not_filter" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="display">Display</label></td>
				<td><div id="display" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="create">Create</label></td>
				<td><div id="create" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="update">Update</label></td>
				<td><div id="update" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="delete">Delete</label></td>
				<td><div id="delete" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="help">Help</label></td>
				<td><div id="help" on-click="change_field"></div></td>
			</tr>
			</table>
			</paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised>CAMBIAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-list-columns",
		properties: {
			//updated: false,
			//column: {}
		},
		open_list_columns: function(column) {
			this.updated= false,
			this.column= column
			this.show_field("id")
			this.show_field("pos")
			this.show_field("model_name")
			this.show_field("attribute")
			this.show_field("description")
			this.show_field("type")
			this.show_field("required")
			this.show_field("enum")
			this.show_field("ref_model_name")
			this.show_field("key")
			this.show_field("key_type")
			this.show_field("model_display_name")
			this.show_field("top_label")
			this.show_field("left_label")
			this.show_field("not_filter")
			this.show_field("display")
			this.show_field("create")
			this.show_field("update")
			this.show_field("delete")
			this.show_field("help")
			this.$.dialog.open()
		},
		change_field: function(e) {
			var field = e.toElement.id
			this.column[field] = !this.column[field]
			this.show_field(field)
		},
		show_field: function(field) {
			if (this.column[field])
			{
				this.$[field].innerHTML = "Visible"
				this.$[field].classList.remove("orange")
				this.$[field].classList.add("green")
			}
			else
			{
				this.$[field].innerHTML = "Oculto"
				this.$[field].classList.remove("green")
				this.$[field].classList.add("orange")
			}
		},
		submit_form: function() {
			this.updated = true
			this.$.dialog.close()
			this.fire('close')
		}
	})
</script>
</dom-module>