<!-- dashboard-form: version 1.00 -->
<dom-module id="Task-dashboard">
<template>
	<iron-ajax id="ajax_type" handle-as="json" on-response="load_type" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax_status" handle-as="json" on-response="load_status" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax_prioridad" handle-as="json" on-response="load_prioridad" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax_requester" handle-as="json" on-response="load_requester" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax_responsable" handle-as="json" on-response="load_responsable" on-error="ajax_error"></iron-ajax>
	<div>
		<h2 class="card_title">Menu</h2>
		  
	</div>
</template>
<script>
	Polymer({
		is: "Task-dashboard",
		ready: function() {
			this.$.ajax_type.url = config_server() + "Task/bytype"
			this.$.ajax_type.generateRequest()
			this.$.ajax_status.url = config_server() + "Task/bystatus"
			this.$.ajax_status.generateRequest()
			this.$.ajax_prioridad.url = config_server() + "Task/byprioridad"
			this.$.ajax_prioridad.generateRequest()
			this.$.ajax_requester.url = config_server() + "Task/byrequester"
			this.$.ajax_requester.generateRequest()
			this.$.ajax_responsable.url = config_server() + "Task/byresponsable"
			this.$.ajax_responsable.generateRequest()	
		},
		load_type: function(item) {
			this.type = []
			var type = {}
			for (i=0; i< this.$.ajax_type.lastResponse.length; i++)
			{
				type = {type: this.$.ajax_type.lastResponse[i].type, count: this.$.ajax_type.lastResponse[i].count}
				this.type.splice(0, 0, type);
			}
			console.log("Type: ", this.type)
		},
		load_status: function(item) {
			this.status = []
			var status = {}
			for (i=0; i< this.$.ajax_status.lastResponse.length; i++)
			{
				status = {status: this.$.ajax_status.lastResponse[i].status, count: this.$.ajax_status.lastResponse[i].count}
				this.status.splice(0, 0, status);
			}
			console.log("Status: ", this.status)
		},
		load_prioridad: function(item) {
			this.prioridad = []
			var prioridad = {}
			for (i=0; i< this.$.ajax_prioridad.lastResponse.length; i++)
			{
				prioridad = {prioridad: this.$.ajax_prioridad.lastResponse[i].prioridad, count: this.$.ajax_prioridad.lastResponse[i].count}
				this.prioridad.splice(0, 0, prioridad);
			}
			console.log("Prioridad: ", this.prioridad)
		},
		load_requester: function(item) {
			this.requester = []
			var requester = {}
			for (i=0; i< this.$.ajax_requester.lastResponse.length; i++)
			{
				requester = {requester: this.$.ajax_requester.lastResponse[i].requester, count: this.$.ajax_requester.lastResponse[i].count}
				this.requester.splice(0, 0, requester);
			}
			console.log("Solicitante: ", this.requester)
		},
		load_responsable: function(item) {
			this.responsable = []
			var responsable = {}
			for (i=0; i< this.$.ajax_responsable.lastResponse.length; i++)
			{
				responsable = {responsable: this.$.ajax_responsable.lastResponse[i].responsable, count: this.$.ajax_responsable.lastResponse[i].count}
				this.responsable.splice(0, 0, responsable);
			}
			console.log("Responsable: ", this.responsable)
		}
	})
</script>
</dom-module>