<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
<dom-module id="Enumerator-edit">
<template>
	<iron-ajax id="ajax" url='/Enumerator/' method='PUT' handle-as="json" on-response="record_updated" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">Editar Enumerador</h2>
		<form id="form" action="javascript:void(0);" on-submit="update">
			<paper-dialog-scrollable>
			<div vertical layout>
				<div class="card_line">
					<label class="left_label" for="model">Entidad</label>
					<input id="model" type="text" name="model" value="{{item.model}}" required disabled>
				</div>
				<div class="card_line">
					<label class="left_label" for="last">Ultimo</label>
					<input id="last" type="number" name="last" value="{{item.last}}">
				</div>
			</div>
			</paper-dialog-scrollable>
		<div class="buttons">
			<input id="submit_update" class="hide" type="submit" value="CAMBIAR">
			<div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised>CAMBIAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
		</form>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Enumerator-edit",
		open_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			},
		submit_form: function() {
			this.$.submit_update.click()
		},
		update: function() {
			var record = {}
			record.model = this.$.model.value
			record.last = Number(this.$.last.value)		
			this.$.ajax.url = '/Enumerator/'+record.model
			this.$.ajax.params = record
			this.$.ajax.generateRequest()
		},
		record_updated: function() {
			alert("record updated")
			this.$.dialog.close()
			this.fire('close')
		}
	})
</script>
</dom-module>