<dom-module id="Order-display">
<template>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">Consultar Pedido</h2>
		  <paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Pedido</label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="customer">Cliente</label></td>
				<td><input id="customer" type="text" name="customer" value="{{item.customer_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="date">Fecha</label></td>
				<td><input id="date" type="date" name="date" value="{{item.date}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status">Status</label></td>
				<td><select id="status" name="status" disabled>
						<option value="1">En Captura</option>
						<option value="2">En Despacho</option>
						<option value="3">Despachado</option>
					</select></td>
			</tr>
			</table>
		  </paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Order-display",
		open_display_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.status.value = item.status
			}
	})
</script>
</dom-module>