<!-- display-form: version 5.00 -->
<dom-module id="Model-display">
<template>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">Consultar Modelo</h2>
		  <paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name">Name</label></td>
				<td><input id="name" type="text" name="name" value="{{item.name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="title">Title</label></td>
				<td><input id="title" type="text" name="title" value="{{item.title}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="primaryKey">Primary Key</label></td>
				<td><input id="primaryKey" type="text" name="primaryKey" value="{{item.primaryKey_attribute}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="autoIncrement">Auto Increment</label></td>
				<td><select id="autoIncrement" name="autoIncrement" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="display">Display</label></td>
				<td><select id="display" name="display" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="create">Create</label></td>
				<td><select id="create" name="create" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="update">Update</label></td>
				<td><select id="update" name="update" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="delete">Delete</label></td>
				<td><select id="delete" name="delete" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="columns">Columns</label></td>
				<td><select id="columns" name="columns" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="download">Download</label></td>
				<td><select id="download" name="download" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="Menu">Menu</label></td>
				<td><select id="Menu" name="Menu" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			</table>
		  </paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Model-display",
		open_display_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.autoIncrement.value = item.autoIncrement
			this.$.display.value = item.display
			this.$.create.value = item.create
			this.$.update.value = item.update
			this.$.delete.value = item.delete
			this.$.columns.value = item.columns
			this.$.download.value = item.download
			this.$.Menu.value = item.Menu
			}
	})
</script>
</dom-module>