<form action="/matheads/update/<%= matnr %>" method="PUT">
Número Material <input type="text" name="matnr" value="<%= matnr %>">
<br><br>
Tipo de Material <input type="text" name="matl_type" value="<%= matl_type %>">
<br><br>
Grupo de Material <input type="text" name="matl_group" value="<%= matl_group %>">
<br><br>
<br><br>
<input type="submit" value="Submit">
</form>