<form action="/matheads/create" method="POST">
Número Material <input type="text" name="matnr">
<br><br>
Tipo de Material <input type="text" name="matl_type">
<br><br>
Grupo de Material <input type="text" name="matl_group">
<br><br>
<br><br>
<input type="submit" value="Submit">
</form>