<head> 
	<title>List</title>
	<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<link rel="import" href="/bower_components/paper-material/paper-material.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">
</head>
<style>
	body {
		margin: 0;
		background-color: rgb(240, 240, 240);
	}
	#card {
		margin: 25;
		border-radius: 4px;
		background-color: white;
		width: 30em;
		padding: 20px;
	}
	#card_title {
		margin: 0;
	}
	paper-input {
		//width: 20em;
	}
	#btn1 {
		background-color: lightblue;
	}
</style>
<paper-material id="card" elevation="2">
	<h3 id="card_title">Crear</h3>
	<paper-input label="Input label" value="Exitoso"></paper-input>
	<paper-button id="btn1" raised>raised button</paper-button>
</paper-material>
<script>
	data= <%- data %>
</script>