<head> 
	<title>List</title>
	<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<link rel="stylesheet" href="/styles/app.css">
	<link rel="import" href="/bower_components/paper-material/paper-material.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/paper-fab/paper-fab.html">
	<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
</head>
<style>
	.col2 {
		//display: none;
		//background-color: beige;	
	}
	table {
		border-radius: 7px;
		margin-top: 7px;
		border-spacing: 0px;
		border: 1px solid rgb(200,200,200);
		border-collapse: collapse;
		//-webkit-border-horizontal-spacing: 15px;
		//-webkit-border-vertical-spacing: 5px;
	}
	tr:nth-child(even) { /*odd*/
		background-color: #ddd;
	}
	th, tfoot {
		//background-color: darkturquoise;
		background-color: rgb(138, 197, 212);
		padding: 10px;
	}
	th {
		text-align: left;
	}
	td {
		//text-align: center;
		padding: 7px 10px;
		
	}
	.card {
		width: 60em;
	}
</style>

<dom-module id="model-list">
  <template>
    <table style="width:100%">
	<thead>
	  <tr>
		<th>Matnr</th>
		<th class="col2">matl_type</th> 
		<th>matl_group</th>
		<th>matl_cat</th>
	 </tr>
	</thead>
	<tfoot>
	 <tr>
		<td></td>
		<td></td>
		<td class="col2">Total</td> 
		<td>{{regs}}</td>
	 </tr>
	</tfoot>
	<tbody>
    <template is="dom-repeat" items="{{data}}">
	<tr>
		<td>{{item.matnr}}</td>
		<td class="col2">{{item.matl_type}}</td> 
		<td>{{item.matl_group}}</td>
		<td>{{item.matl_cat}}</td>
	</tr>
    </template>
	</tbody>
  </template>
  </table>
  <script>
    Polymer({
      is: 'model-list',
      ready: function() {
        this.data = <%- data %>
		this.regs = this.data.length + ' reg'
		console.log(this.regs)
      }
    });
  </script>
</dom-module>

<paper-material class="card" elevation="2">
	<h2 class="card_title">Crear</h2>
	<!-- Filter -->
	<select id="filter">
		<option value="name">Name</option>
		<option value="lastname">Lastname</option>
		<option value="Points">Points</option>
	</select>
	<select id="op">
		<option value="igual a">Igual a</option>
		<option value="Mayor a">Mayor a</option>
		<option value="Menor a">Menor a</option>
	</select>
	<input type="string"></input>
	<paper-fab class="btn" mini value="Ver">Ver</paper-fab>
	<!-- Filtered data -->
	<model-list></model-list>
</paper-material>