<head> 
	<title>List</title>
	<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<link rel="stylesheet" href="/styles/app.css">
	<link rel="import" href="/bower_components/paper-material/paper-material.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">
	<link rel="import" href="/bower_components/iron-form/iron-form.html">
</head>
<style>
	.form {
		
	}
</style>
<paper-material class="card" elevation="2">
	<h2 class="card_title">Crear</h2>
	<paper-input label="Input label" value="Exitoso"></paper-input>
	<paper-button class="btn" raised>raised button</paper-button>
</paper-material>

<iron-form class="form">
	Prueba <input id="matnr" type="number" name="matnr" min=10 max=999999 required>
</iron-form>
<script>
	data= <%- data %>
</script>