<head> 
	<title>List</title>
	<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="/bower_components/lokijs/src/lokijs.js"></script>
	<link rel="stylesheet" href="/styles/app.css">
	<link rel="import" href="/bower_components/paper-material/paper-material.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/paper-fab/paper-fab.html">
	<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
</head>
<style>
	.col2 {
		//display: none;
		//background-color: beige;	
	}
	table {
		border-radius: 7px;
		margin-top: 7px;
		border-spacing: 0px;
		border: 1px solid rgb(200,200,200);
		border-collapse: collapse;
		//-webkit-border-horizontal-spacing: 15px;
		//-webkit-border-vertical-spacing: 5px;
	}
	tr:nth-child(even) { /*odd*/
		background-color: #ddd;
	}
	th, tfoot {
		//background-color: darkturquoise;
		background-color: rgb(138, 197, 212);
		padding: 10px;
	}
	th {
		text-align: left;
	}
	td {
		//text-align: center;
		padding: 7px 10px;
		
	}
	.card {
		width: 60em;
	}
	.hide {
		display: none;
	}
</style>

<dom-module id="model-list">
  <template>
	<select id="filter" on-change="input_type">
		<option value="matnr">Matnr</option>
		<option value="matl_type">Matl_Type</option>
		<option value="matl_group">Matl_Group</option>
	</select>
	<select id="op">
		<option value="igual a">Igual a</option>
		<option value="Mayor a">Mayor a</option>
		<option value="Menor a">Menor a</option>
	</select>
	<input id="filtro" type="{{tipo}}"></input>
	<select id="select" class="hide"> <!--style="display:none;"-->
	<template is="dom-repeat" items="{{opts}}">
		<option value="{{item.op}}">{{item.op}}</option>
	</template>
	</select>
	
	<paper-fab class="btn" mini on-click="filter" value="Ver">Ver</paper-fab>
	
    <table style="width:100%">
	<thead>
	  <tr>
		<th>Matnr</th>
		<th class="col2">matl_type</th> 
		<th>matl_group</th>
		<th>matl_cat</th>
	 </tr>
	</thead>
	<tfoot>
	 <tr>
		<td></td>
		<td></td>
		<td class="col2">Total</td> 
		<td><strong>{{regs}}</strong></td>
	 </tr>
	</tfoot>
	<tbody>
    <template is="dom-repeat" items="{{filtered_data}}">
	<tr>
		<td>{{item.matnr}}</td>
		<td class="col2">{{item.matl_type}}</td> 
		<td>{{item.matl_group}}</td>
		<td>{{item.matl_cat}}</td>
	</tr>
    </template>
	</tbody>
	</table>
  </template>
  <script>
    Polymer({
      is: 'model-list',
      ready: function() {
		this.tipo = 'number'
		var _model = [ {column: 'matnr', type: 'integer'},
					  {column: 'matl_type', enum: ['ZMED', 'ZMIS']},
					  {column: 'matl_group', type: 'string'} ]
					  
        var _data = <%- data %>
		this.filtered_data = [{matnr: ''}]
		var db = new loki()
		this.data = db.addCollection('data')
		this.model = db.addCollection('model')
		for (i=0; i< _data.length ; i++)
			this.data.insert(_data[i])
		for (i=0; i< _model.length ; i++)
			this.model.insert(_model[i])
		_data = {}
		_model = {}
      },
	  filter: function() {
		var name = this.$.filter.value
		var filtro = {}
		if (this.$.filtro.getAttribute('class') != 'hide')
			if (this.$.filtro.getAttribute('type') == 'number') 
				filtro[name] = Number(this.$.filtro.value)
			else
				filtro[name] = this.$.filtro.value 
		else
			filtro[name] = this.$.select.value
		//console.log('value: ', value)
		this.filtered_data = this.data.find(filtro)
		this.regs = this.filtered_data.length + ' reg'
	  },
	  input_type: function() {
		this.$.filtro.value = ''
		var column = this.model.find({ 'column': this.$.filter.value})
		if (column[0].type)
		{
			this.$.select.className = 'hide'
			this.$.filtro.className = ''
			
			switch(column[0].type) {
			case 'string':
				this.tipo = 'text'
			break;
			case 'integer':
				this.tipo = 'number'
				break;
			default:
				this.tipo = 'text'
			}
		}
		else
		{
			this.$.select.className = ''
			this.$.filtro.className = 'hide'
			this.opts = []
			for (i=0; i< column[0].enum.length; i++)
				this.push('opts', {'op': column[0].enum[i]})
		}
	  }
    });
  </script>
</dom-module>

<paper-material class="card" elevation="2">
	<h2 class="card_title">Crear</h2>

	<model-list></model-list>
</paper-material>