<dom-module id="Attribute-display">
<template>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">Consultar Atributo</h2>
		  <paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pos">Pos</label></td>
				<td><input id="pos" type="number" name="pos" value="{{item.pos}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model">Model</label></td>
				<td><input id="model" type="text" name="model" value="{{item.model_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="attribute">Attribute</label></td>
				<td><input id="attribute" type="text" name="attribute" value="{{item.attribute}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="description">Description</label></td>
				<td><input id="description" type="text" name="description" value="{{item.description}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type">Type</label></td>
				<td><select id="type" name="type" disabled>
						<option value="integer">integer</option>
						<option value="string">string</option>
						<option value="float">float</option>
						<option value="date">date</option>
						<option value="boolean">boolean</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="required">Required</label></td>
				<td><select id="required" name="required" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enum">Enum</label></td>
				<td><input id="enum" type="text" name="enum" value="{{item.enum}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ref_model">Reference Model</label></td>
				<td><input id="ref_model" type="text" name="ref_model" value="{{item.ref_model_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_key">Mdl Key</label></td>
				<td><input id="model_key" type="text" name="model_key" value="{{item.model_key}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key_type">Key Type</label></td>
				<td><select id="key_type" name="key_type" disabled>
						<option value="integer">integer</option>
						<option value="string">string</option>
						<option value="float">float</option>
						<option value="date">date</option>
						<option value="boolean">boolean</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_display">mdl Display</label></td>
				<td><input id="model_display" type="text" name="model_display" value="{{item.model_display_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="top_label">Top Label</label></td>
				<td><input id="top_label" type="text" name="top_label" value="{{item.top_label}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="left_label">Left Label</label></td>
				<td><input id="left_label" type="text" name="left_label" value="{{item.left_label}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="filter">Filter</label></td>
				<td><select id="filter" name="filter" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="list">List</label></td>
				<td><select id="list" name="list" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="display">Display</label></td>
				<td><select id="display" name="display" disabled>
						<option value="s">Show</option>
						<option value="h">Hide</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="create">Create</label></td>
				<td><select id="create" name="create" disabled>
						<option value="c">Create</option>
						<option value="r">Readonly</option>
						<option value="h">Hide</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="update">Update</label></td>
				<td><select id="update" name="update" disabled>
						<option value="u">Update</option>
						<option value="r">Readonly</option>
						<option value="h">Hide</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="delete">Delete</label></td>
				<td><select id="delete" name="delete" disabled>
						<option value="s">Show</option>
						<option value="h">Hide</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="help">Help</label></td>
				<td><input id="help" type="text" name="help" value="{{item.help}}" disabled></td>
			</tr>
			</table>
		  </paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-display",
		open_display_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.type.value = item.type
			this.$.required.value = item.required
			this.$.key_type.value = item.key_type
			this.$.filter.value = item.filter
			this.$.list.value = item.list
			this.$.display.value = item.display
			this.$.create.value = item.create
			this.$.update.value = item.update
			this.$.delete.value = item.delete
			}
	})
</script>
</dom-module>