<dom-module id="Attribute-new">
<template>
	<iron-ajax id="ajax" handle-as="json" on-response="validate_record" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax2" method="POST" handle-as="json" on-response="record_created" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<Model-select id="Model_select_dialog" on-item_selected="set_select_field"></Model-select>
		<Model-select id="Model_select_dialog" on-item_selected="set_select_field"></Model-select>
		<Attribute-select id="Attribute_select_dialog" on-item_selected="set_select_field"></Attribute-select>
		<h2 class="card_title">Crear Atributo</h2>
		<paper-dialog-scrollable>
		  <form id="form" action="javascript:void(0);" on-submit="create">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><input id="id" type="number" name="id" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pos">Pos</label></td>
				<td><input id="pos" type="number" name="pos"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model">Model</label></td>
				<td><iron-icon icon="find-in-page" field="model" on-click="select_field_b"></iron-icon><input id="model" type="text" name="model" key=0 on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="attribute">Attribute<strong class="red"> *</strong></label></td>
				<td><input id="attribute" type="text" name="attribute" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="description">Description<strong class="red"> *</strong></label></td>
				<td><input id="description" type="text" name="description" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type">Type</label></td>
				<td><select id="type" name="type">
						<option value="integer">integer</option>
						<option value="string">string</option>
						<option value="float">float</option>
						<option value="date">date</option>
						<option value="boolean">boolean</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="required">Required</label></td>
				<td><select id="required" name="required">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enum">Enum</label></td>
				<td><input id="enum" type="text" name="enum"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ref_model">Reference Model</label></td>
				<td><iron-icon icon="find-in-page" field="ref_model" on-click="select_field_b"></iron-icon><input id="ref_model" type="text" name="ref_model" key=0 on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key">Key</label></td>
				<td><input id="key" type="text" name="key"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key_type">Key Type</label></td>
				<td><select id="key_type" name="key_type">
						<option value="integer">integer</option>
						<option value="string">string</option>
						<option value="float">float</option>
						<option value="date">date</option>
						<option value="boolean">boolean</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="display">Display</label></td>
				<td><iron-icon icon="find-in-page" field="display" on-click="select_field_b"></iron-icon><input id="display" type="text" name="display" key=0 on-click="select_field" readonly></td>
			</tr>
			</table>
			<div class="buttons">
				<input id="submit_btn" class="hide" type="submit" value="CREAR">
				<div class="card_line">
					<paper-button id="create_btn" class="btn" on-click="submit_form" raised>CREAR</paper-button>
					<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
				</div>
			</div>
		  </form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-new",
		open_dialog: function() {
			this.clear()
			this.$.dialog.open()
		},
		clear: function() {
			this.$.id.value = ''
			this.$.pos.value = ''
			this.$.model.value = ''
			this.$.model.key = 0
			this.$.attribute.value = ''
			this.$.description.value = ''
			this.$.enum.value = ''
			this.$.ref_model.value = ''
			this.$.ref_model.key = 0
			this.$.key.value = ''
			this.$.display.value = ''
			this.$.display.key = 0
		},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
			if (this.field == "model")
				this.$.Model_select_dialog.open_select_dialog()
			if (this.field == "ref_model")
				this.$.Model_select_dialog.open_select_dialog()
			if (this.field == "display")
				this.$.Attribute_select_dialog.open_select_dialog()
		},
		set_select_field: function(e) {
			this.$[this.field].value = this.$[e.srcElement.id].item.name
			this.$[this.field].key = this.$[e.srcElement.id].item.key
		},
		create: function() {
			this.$.ajax2.url = document.getElementById("config").server + "Attribute"
			var record = {}
			record.pos = Number(this.$.pos.value)
			record.model = this.$.model.key
			  record.attribute = this.$.attribute.value
			  record.description = this.$.description.value
			  record.type = this.$.type.value
			  record.required = this.$.required.value
			  record.enum = this.$.enum.value
			record.ref_model = this.$.ref_model.key
			  record.key = this.$.key.value
			  record.key_type = this.$.key_type.value
			record.display = this.$.display.key			
			this.$.ajax2.params = record
			this.$.ajax2.generateRequest()
		},
		record_created: function() {
			alert("Created Atributo id="+this.$.ajax2.lastResponse.id)
			// ask for create another one
			this.$.dialog.close()
			this.fire('close')
		},
		submit_form: function() {
			if (!isNaN(this.$.id.value))
			{
				if (this.$.id.value > 0)
				{
					this.$.ajax.url = document.getElementById("config").server+"Attribute/exist/"+this.$.id.value
					this.$.ajax.generateRequest()
				}
				else this.$.submit_btn.click()
			} else
				this.$.submit_btn.click()
		},
		validate_record: function() {
			if (this.$.ajax.lastResponse.exist)
				alert("Registro ya Existe")
			else
				this.$.submit_btn.click()
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("Error Procesando Solicitud: ", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>