<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
<dom-module id="Enumerator-display">
<template>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">Consultar Enumerador</h2>
		<form id="form">
			<paper-dialog-scrollable>
			<div vertical layout>
				<div class="card_line">
					<label class="left_label" for="model">Entidad</label>
					<input id="model" type="text" name="model" value="{{item.model}}" disabled>
				</div>
				<div class="card_line">
					<label class="left_label" for="last">Ultimo</label>
					<input id="last" type="number" name="last" value="{{item.last}}" disabled>
				</div>
			</div>
			</paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
		</form>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Enumerator-display",
		open_display_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			}
	})
</script>
</dom-module>