<head>
	<title>Listar Producto</title>
	<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="/bower_components/lokijs/src/lokijs.js"></script>
	<link rel="stylesheet" href="/styles/app.css">
	<link rel="import" href="/bower_components/paper-material/paper-material.html">
	<link rel="import" href="/bower_components/paper-input/paper-input.html">
	<link rel="import" href="/bower_components/paper-fab/paper-fab.html">
	<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
	<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">
	<link rel="import" href="/components/Product-new/Product-new.html">
	<link rel="import" href="/components/Product-display/Product-display.html">
	<link rel="import" href="/components/Product-edit/Product-edit.html">
	<link rel="import" href="/components/Product-delete/Product-delete.html">
</head>
<dom-module id="Product-list">
<template>
	<Product-new id="Product_new_dialog"></Product-new>
	<Product-display id="Product_display_dialog"></Product-display>
	<Product-edit id="Product_edit_dialog"></Product-edit>
	<Product-delete id="Product_delete_dialog"></Product-delete>
	
	<div class="card_title">Listar Producto</div>
	<select id="filter" on-change="input_type">
		<option value="id">Id</option>
		<option value="name">Nombre</option>
		<option value="stock">Existencia</option>
		<option value="price">Precio</option>
		<option value="status">Status</option>
	</select>
	<select id="op">   
		<option value="$eq">Igual a</option>
		<option value="$contains">Contiene</option>
		<option value="$gte">Mayor o igual a</option>
		<option value="$lte">Menor o igual a</option>
	</select>
	<input id="filtro" type="{{tipo}}"></input>
	<select id="select" class="hide">
	  <template is="dom-repeat" items="{{opts}}">
		<option value="{{item.op}}">{{item.op}}</option>
	  </template>
	</select>
	<paper-button class="btn" on-click="filter" raised>Buscar</paper-button>
	<paper-fab id="btn_add" mini on-click="new" icon="add"></paper-fab>
	<table style="width:100%">
	<thead>
	  <tr>
		<th class="ops"></th>
		<th class"col_id">Id</th>
		<th class"col_name">Nombre</th>
		<th class"col_stock">Existencia</th>
		<th class"col_price">Precio</th>
		<th class"col_status">Status</th>
	</tr>
	</thead>
	<tfoot>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>Total</td>
		<td><strong>{{regs}}</strong></td>
	</tr>
	</tfoot>
	<tbody>
	<template is="dom-repeat" items="{{filtered_data}}">
	<tr>
		<td class="ops">
			<paper-icon-button id="{{item.id}}" on-click="display" class="icon-op" icon="visibility"></paper-icon-button>
			<paper-icon-button id="{{item.id}}" on-click="edit" class="icon-op" icon="create"></paper-icon-button>
		  	<paper-icon-button id="{{item.id}}" on-click="delete" class="icon-op" icon="cancel"></paper-icon-button>
		</td>
		<td class"col_id">{{item.id}}</td>
		<td class"col_name">{{item.name}}</td>
		<td class"col_stock">{{item.stock}}</td>
		<td class"col_price">{{item.price}}</td>
		<td class"col_status">{{item.status}}</td>
	</tr>
	</template>
	</tbody>
</table>
</template>
<script>
Polymer({
is: "Product-list",
	ready: function() {
		this.tipo = "number"
		var _model = [{column: "id", type: "integer"},
				{column: "name", type: "string"},
				{column: "stock", type: "integer"},
				{column: "price", type: "float"},
				{column: "status", enum: ["A","B","I"]}
		]
		var _data = <%- data %>
		this.filtered_data = [{id: ""}]
		var db = new loki()
		this.data = db.addCollection("data")
		this.model = db.addCollection("model")
		for (i=0; i< _data.length ; i++)
			this.data.insert(_data[i])
		for (i=0; i< _model.length ; i++)
			this.model.insert(_model[i])
		_data = {}
		_model = {}
	},
	filter: function() {
		var name = this.$.filter.value
		var op = this.$.op.value 
		var valor = {}
		var filtro = {}
		if (this.$.filtro.getAttribute("class") != "hide")
			if (this.$.filtro.getAttribute("type") == "number") 
				valor[op] = Number(this.$.filtro.value)
		 	else 
				valor[op] = this.$.filtro.value
		else 
			valor[op] = this.$.select.value
		filtro[name] = valor
		this.filtered_data = this.data.find(filtro)
		this.regs = this.filtered_data.length + " reg"
	},
	input_type: function() {
	this.$.filtro.value = ""
	var column = this.model.find({ "column": this.$.filter.value})
	if (column[0].type)
	{
		this.$.select.className = "hide"
		this.$.filtro.className = ""
		switch(column[0].type) {
		case "string":
			this.tipo = "text"
		break;
		case "integer":
			this.tipo = "number"
		break;
		default:
			this.tipo = "text"
		}
	}
	else
	{
		this.$.select.className = ""
		this.$.filtro.className = "hide"
		this.opts = []
		for (i=0; i< column[0].enum.length; i++)
			this.push("opts", {"op": column[0].enum[i]})
	}
 },
  display: function(e) {
	var filtro = {"id": Number(e.toElement.offsetParent.id)}
	var item = this.data.find(filtro)[0]
	this.$.Product_display_dialog.open_display_dialog(item)
	//window.open("/Product/display/"+e.toElement.offsetParent.id)
	//window.location.href = "/Product/display/"+e.toElement.offsetParent.id
  },
  edit: function(e) {
	var filtro = {"id": Number(e.toElement.offsetParent.id)}
	var item = this.data.find(filtro)[0]
	this.$.Product_edit_dialog.open_dialog(item)
  },
  delete: function(e) {
	var filtro = {"id": Number(e.toElement.offsetParent.id)}
	var item = this.data.find(filtro)[0]
	this.$.Product_delete_dialog.open_delete_dialog(item)
  },
  new: function() {
	this.$.Product_new_dialog.open_dialog()
  }
});
</script>
</dom-module>
<paper-material class="card" elevation="2">
	<Product-list></Product-list>
</paper-material>
