<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
<dom-module id="Product-delete">
<template>
	<iron-ajax id="ajax" url='/Product/' method='DELETE' handle-as="json" on-response="record_deleted" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title">Borrar Producto</h2>
		<form id="form" action="javascript:void(0);" on-submit="delete">
			<paper-dialog-scrollable>
			<div vertical layout>
				<div class="card_line">
					<label class="left_label" for="id">Id</label>
					<input id="id" type="number" name="id" value="{{item.id}}" disabled>
				</div>
				<div class="card_line">
					<label class="left_label" for="name">Nombre</label>
					<input id="name" type="text" name="name" value="{{item.name}}" disabled>
				</div>
				<div class="card_line">
					<label class="left_label" for="stock">Existencia</label>
					<input id="stock" type="number" name="stock" value="{{item.stock}}" disabled>
				</div>
				<div class="card_line">
					<label class="left_label" for="price">Precio</label>
					<input id="price" type="text" name="price" value="{{item.price}}" disabled>
				</div>
				<div class="card_line">
					<label class="left_label" for="status">Status</label>
					<select id="status" name="status" disabled>
						<option value="A">Activo</option>
						<option value="B">Bloqueado</option>
						<option value="I">Inactivo</option>
					</select>
				</div>
			</div>
			</paper-dialog-scrollable>
		<div class="buttons">
			<input id="submit_delete" class="hide" type="submit" value="BORRAR">
			<div class="card_line">
				<paper-button id="delete_btn" class="btn" on-click="form_submit" raised>BORRAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
		</form>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Product-delete",
		open_delete_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.status.value = item.status
		},
		form_submit: function() {
			this.$.submit_delete.click()
		},
		delete: function() {
			this.$.ajax.url = '/Product/'+this.item.id
			this.$.ajax.generateRequest()
		},
		record_deleted: function() {
			alert("record deleted")
			this.$.dialog.close()
			this.fire('close')
		}
	})
</script>
</dom-module>