<!--<link rel="stylesheet" href="/styles/app.css">-->
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<!--<link rel="import" href="/bower_components/paper-button/paper-button.html">-->
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
<dom-module id="Customer-display">
<template>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">{{title}}</h2>
		<form id="form">
			<paper-dialog-scrollable>
			<div vertical layout>
			<div class="card_line">
				<label class="left_label" for="id">Código</label>
				<input id="id" type="number" name="id" value="{{item.id}}" disabled>
			</div>
			<div class="card_line">
				<label class="left_label" for="name">Nombre</label>
				<input id="name" type="text" name="name" value="{{item.name}}" disabled>
			</div>
			<div class="card_line">
				<label class="left_label" for="status">status</label>
				<select id="status" name="status" disabled>
					<option value="A">Activo</option>
					<option value="I">Inactivo</option>
				</select>
			</div>
		</div>
		</paper-dialog-scrollable>
		<div class="buttons">
			<input id="submit_delete" class="hide" type="submit" value="BORRAR">
			<div class="card_line">
				<paper-button id="delete_btn" class="btn" on-click="borrar" raised>BORRAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
		</form>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Customer-display",
		open_display_dialog: function(item) {
			this.title = "Consultar Cliente"
			this.$.form.setAttribute("action","")
			this.$.form.setAttribute("method","")
			this.$.delete_btn.className = "hide"
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		open_delete_dialog: function(item) {
			this.title = "Borrar Customer"
			this.$.form.setAttribute("action","/Customer/destroy/"+item.id)
			this.$.form.setAttribute("method","POST")
			this.$.delete_btn.className = "btn"
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		borrar: function() {
			this.$.submit_delete.click()
		},
		set_select_fields(item) {
			this.$.status.value = item.status
		}
	})
</script>
</dom-module>