<dom-module id="Product-edit">
<template>
	<iron-ajax id="ajax" method='PUT' handle-as="json" on-response="record_updated" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<Category-select id="Category_select_dialog" on-item_selected="set_select_field"></Category-select>
		<h2 class="card_title">Editar Producto</h2>
		<form id="form" action="javascript:void(0);" on-submit="update">
			<paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" min=1 max=999999 disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name">Nombre<strong class="red"> *</strong></label></td>
				<td><input id="name" type="text" name="name" value="{{item.name}}" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name">Categoria</label></td>
				<td><iron-icon icon="find-in-page" field="Categoria" on-click="select_field_b"></iron-icon>
				<input id="Categoria" key=0 type="model" name="Categoria" on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="stock">Existencia</label></td>
				<td><input id="stock" type="number" name="stock" value="{{item.stock}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="price">Precio</label></td>
				<td><input id="price" type="float" name="price" value="{{item.price}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status">Status</label></td>
				<td><select id="status" name="status">
						<option value="A">Activo</option>
						<option value="B">Bloqueado</option>
						<option value="I">Inactivo</option>
					</select></td>
			</tr>
			</table>
			</paper-dialog-scrollable>
		<div class="buttons">
			<input id="submit_update" class="hide" type="submit" value="CAMBIAR">
			<div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised>CAMBIAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
		</form>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Product-edit",
		open_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.status.value = item.status
		},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
			if (this.field == "Categoria")
				this.$.Category_select_dialog.open_select_dialog()
		},
		set_select_field: function() {
			this.$[this.field].value = this.$.Category_select_dialog.item.name
			this.$[this.field].key = this.$.Category_select_dialog.item.key
		},	
		submit_form: function() {
			this.$.submit_update.click()
		},
		update: function() {
			var record = {}
			record.id = Number(this.$.id.value)
			record.name = this.$.name.value
			record.Categoria = this.$.Categoria.key
			record.stock = Number(this.$.stock.value)
			record.price = Number(this.$.price.value)
			record.status = this.$.status.value		
			this.$.ajax.url = document.getElementById("config").server + "Product/" +record.id
			this.$.ajax.params = record
			this.$.ajax.generateRequest()
		},
		record_updated: function() {
			alert("record updated")
			this.$.dialog.close()
			this.fire('close')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("Error Procesando Solicitud: ", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>