<!-- display-form: version 5.00 -->
<dom-module id="Task-display">
<template>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">Consultar Actividad</h2>
		  <paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="activity">Actividad</label></td>
				<td><input id="activity" type="text" name="activity" value="{{item.activity}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type">Tipo</label></td>
				<td><select id="type" name="type" disabled>
						<option value="i">incidente</option>
						<option value="t">tarea</option>
						<option value="c">cambio</option>
						<option value="p">proyecto</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status">Status</label></td>
				<td><select id="status" name="status" disabled>
						<option value="p">Pendiente</option>
						<option value="e">En curso</option>
						<option value="s">Stand by</option>
						<option value="c">Certificacion</option>
						<option value="x">Cerrado</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="parent">Parent</label></td>
				<td><input id="parent" type="text" name="parent" value="{{item.parent_activity}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="prioridad">Prioridad</label></td>
				<td><select id="prioridad" name="prioridad" disabled>
						<option value="b">Baja</option>
						<option value="m">Media</option>
						<option value="a">Alta</option>
						<option value="c">Critica</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="requester">Solicitante</label></td>
				<td><input id="requester" type="text" name="requester" value="{{item.requester}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="requestd">Solicitud</label></td>
				<td><input id="requestd" type="date" name="requestd" value="{{item.requestd}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="start">Inicio</label></td>
				<td><input id="start" type="date" name="start" value="{{item.start}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="fcompromiso">Compromiso</label></td>
				<td><input id="fcompromiso" type="date" name="fcompromiso" value="{{item.fcompromiso}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="end">Fin</label></td>
				<td><input id="end" type="date" name="end" value="{{item.end}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="responsable">Responsable</label></td>
				<td><input id="responsable" type="text" name="responsable" value="{{item.responsable}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ultseguimiento">Ult Seg</label></td>
				<td><input id="ultseguimiento" type="date" name="ultseguimiento" value="{{item.ultseguimiento}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="proxseguimiento">Prox Seg</label></td>
				<td><input id="proxseguimiento" type="date" name="proxseguimiento" value="{{item.proxseguimiento}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="observacion">observacion</label></td>
				<td><input id="observacion" type="text" name="observacion" value="{{item.observacion}}" disabled></td>
			</tr>
			</table>
		  </paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Task-display",
		open_display_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.type.value = item.type
			this.$.status.value = item.status
			this.$.prioridad.value = item.prioridad
			}
	})
</script>
</dom-module>