<dom-module id="Attribute-delete">
<template>
	<iron-ajax id="ajax" method='DELETE' handle-as="json" on-response="record_deleted" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title">Borrar Atributo</h2>
		<form id="form" action="javascript:void(0);" on-submit="delete">
			<paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pos">Pos</label></td>
				<td><input id="pos" type="number" name="pos" value="{{item.pos}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model">Model</label></td>
				<td><input id="model" type="text" name="model" value="{{item.model_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="attribute">Attribute</label></td>
				<td><input id="attribute" type="text" name="attribute" value="{{item.attribute}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="description">Description</label></td>
				<td><input id="description" type="text" name="description" value="{{item.description}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type">Type</label></td>
				<td><select id="type" name="type" disabled>
						<option value="integer">integer</option>
						<option value="string">string</option>
						<option value="float">float</option>
						<option value="date">date</option>
						<option value="boolean">boolean</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="required">Required</label></td>
				<td><select id="required" name="required" disabled>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enum">Enum</label></td>
				<td><input id="enum" type="text" name="enum" value="{{item.enum}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ref_model">Reference Model</label></td>
				<td><input id="ref_model" type="text" name="ref_model" value="{{item.ref_model_name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key">Key</label></td>
				<td><input id="key" type="text" name="key" value="{{item.key}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key_type">Key Type</label></td>
				<td><select id="key_type" name="key_type" disabled>
						<option value="integer">integer</option>
						<option value="string">string</option>
						<option value="float">float</option>
						<option value="date">date</option>
						<option value="boolean">boolean</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="display">Display</label></td>
				<td><input id="display" type="text" name="display" value="{{item.display_name}}" disabled></td>
			</tr>
			</table>
			</paper-dialog-scrollable>
		<div class="buttons">
			<input id="submit_delete" class="hide" type="submit" value="BORRAR">
			<div class="card_line">
				<paper-button id="delete_btn" class="btn" on-click="form_submit" raised>BORRAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
		</form>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-delete",
		open_delete_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.type.value = item.type
			this.$.required.value = item.required
			this.$.key_type.value = item.key_type
			},
		form_submit: function() {
			this.$.submit_delete.click()
		},
		delete: function() {
			this.$.ajax.url = document.getElementById("config").server+"Attribute/"+this.item.id
			this.$.ajax.generateRequest()
		},
		record_deleted: function() {
			alert("record deleted")
			this.$.dialog.close()
			this.fire('close')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("Error Procesando Solicitud: ", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>