<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">

<dom-module id="Matheads-new">
<template>
	<iron-ajax id="ajax" handle-as="json" on-response="validate_record" on-error="error_record"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">Crear Material - MATHEADS</h2>
		<form id="form" action="/Matheads/create" method="POST">
			<paper-dialog-scrollable>
			<div vertical layout>
				<div class="card_line">
					<label class="left_label" for="matnr">Número Material</label>
					<input id="matnr" type="number" name="matnr" min=10 max=999999 required>
				</div>
				<div class="card_line">
					<label class="left_label" for="matl_type">Tipo de Material</label>
					<select id="matl_type" name="matl_type">
						<option value="ZMED">ZMED - MEDICINAS</option>
						<option value="ZMIS">ZMIS - MISCELANEOS</option>
					</select>
				</div>
				<div class="card_line">
					<label class="left_label" for="matl_group">Grupo de Material</label>
					<input id="matl_group" type="text" name="matl_group" maxlength=4 required>
				</div>
				<div class="card_line">
					<label class="left_label" for="matl_cat">Categoria de Material</label>
					<input id="matl_cat" type="text" name="matl_cat" value="00" disabled>
				</div>
			 </div>
			</paper-dialog-scrollable>
			<div class="buttons">
				<input id="submit_btn" class="hide" type="submit" value="CREAR">
				<div class="card_line">
					<paper-button id="create_btn" class="btn" on-click="create" raised>CREAR</paper-button>
					<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
				</div>
			</div>
		</form>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Matheads-new",
		open_dialog: function() {
			this.$.dialog.open()
		},
		create: function() {
			if (!isNaN(this.$.matnr.value))
			{
				if (this.$.matnr.value > 0)
				{
					this.$.ajax.url = "/Matheads/exist/"+this.$.matnr.value
					this.$.ajax.generateRequest()
				}
				else this.$.submit_btn.click()
			} else
				this.$.submit_btn.click()
		},
		validate_record: function() {
			if (this.$.ajax.lastResponse.exist)
				alert("Registro ya Existe")
			else
				this.$.submit_btn.click()
		},
		error_record: function() {
			alert("Error Procesando Solicitud: ", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>