<!-- edit-form: version 5.00 -->
<dom-module id="Attribute-edit">
<template>
	<iron-ajax id="ajax" method='PUT' handle-as="json" on-response="record_updated" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<Model-select id="Model_select_dialog" on-item_selected="set_select_field"></Model-select>
		<Model-select id="Model_select_dialog" on-item_selected="set_select_field"></Model-select>
		<Attribute-select id="Attribute_select_dialog" on-item_selected="set_select_field"></Attribute-select>
		<h2 class="card_title">Editar Atributo</h2>
		<paper-dialog-scrollable>
		<form id="form" action="javascript:void(0);" on-submit="update">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="pos">Pos</label></td>
				<td><input id="pos" type="number" name="pos" value="{{item.pos}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model">Model</label></td>
				<td><iron-icon icon="find-in-page" field="model" on-click="select_field_b"></iron-icon><input id="model" type="text" name="model" key={{item.model_id}} value="{{item.model_name}}" on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="attribute">Attribute<strong class="red"> *</strong></label></td>
				<td><input id="attribute" type="text" name="attribute" value="{{item.attribute}}" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="description">Description<strong class="red"> *</strong></label></td>
				<td><input id="description" type="text" name="description" value="{{item.description}}" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type">Type</label></td>
				<td><select id="type" name="type">
						<option value="integer">integer</option>
						<option value="string">string</option>
						<option value="float">float</option>
						<option value="date">date</option>
						<option value="boolean">boolean</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="required">Required</label></td>
				<td><select id="required" name="required">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="enum">Enum</label></td>
				<td><input id="enum" type="text" name="enum" value="{{item.enum}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ref_model">Reference Model</label></td>
				<td><iron-icon icon="find-in-page" field="ref_model" on-click="select_field_b"></iron-icon><input id="ref_model" type="text" name="ref_model" key={{item.ref_model_id}} value="{{item.ref_model_name}}" on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_key">Mdl Key</label></td>
				<td><input id="model_key" type="text" name="model_key" value="{{item.model_key}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="key_type">Key Type</label></td>
				<td><select id="key_type" name="key_type">
						<option value="integer">integer</option>
						<option value="string">string</option>
						<option value="float">float</option>
						<option value="date">date</option>
						<option value="boolean">boolean</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="model_display">mdl Display</label></td>
				<td><iron-icon icon="find-in-page" field="model_display" on-click="select_field_b"></iron-icon><input id="model_display" type="text" name="model_display" key={{item.model_display_id}} value="{{item.model_display_name}}" on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="top_label">Top Label<strong class="red"> *</strong></label></td>
				<td><input id="top_label" type="text" name="top_label" value="{{item.top_label}}" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="left_label">Left Label<strong class="red"> *</strong></label></td>
				<td><input id="left_label" type="text" name="left_label" value="{{item.left_label}}" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="filter">Filter</label></td>
				<td><select id="filter" name="filter">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="list">List</label></td>
				<td><select id="list" name="list">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="display">Display</label></td>
				<td><select id="display" name="display">
						<option value="s">Show</option>
						<option value="h">Hide</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="create">Create</label></td>
				<td><select id="create" name="create">
						<option value="c">Create</option>
						<option value="r">Readonly</option>
						<option value="h">Hide</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="update">Update</label></td>
				<td><select id="update" name="update">
						<option value="u">Update</option>
						<option value="r">Readonly</option>
						<option value="h">Hide</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="delete">Delete</label></td>
				<td><select id="delete" name="delete">
						<option value="s">Show</option>
						<option value="h">Hide</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="help">Help</label></td>
				<td><input id="help" type="text" name="help" value="{{item.help}}"></td>
			</tr>
			</table>
			<div class="buttons">
			  <input id="submit_update" class="hide" type="submit" value="CAMBIAR">
			  <div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised>CAMBIAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			  </div>
			</div>
		</form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Attribute-edit",
		open_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.type.value = item.type
			this.$.required.value = item.required
			this.$.key_type.value = item.key_type
			this.$.filter.value = item.filter
			this.$.list.value = item.list
			this.$.display.value = item.display
			this.$.create.value = item.create
			this.$.update.value = item.update
			this.$.delete.value = item.delete
			},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
			if (this.field == "model")
				this.$.Model_select_dialog.open_select_dialog()
			if (this.field == "ref_model")
				this.$.Model_select_dialog.open_select_dialog()
			if (this.field == "model_display")
				this.$.Attribute_select_dialog.open_select_dialog()
		},
		set_select_field: function(e) {
			this.$[this.field].value = this.$[e.srcElement.id].item.name
			this.$[this.field].key = this.$[e.srcElement.id].item.key
		},
		submit_form: function() {
			this.$.submit_update.click()
		},
		update: function() {
			var record = {}
			record.id = Number(this.$.id.value)
			record.pos = Number(this.$.pos.value)
			record.model = this.$.model.key
			record.attribute = this.$.attribute.value
			record.description = this.$.description.value
			record.type = this.$.type.value
			record.required = this.$.required.value
			record.enum = this.$.enum.value
			record.ref_model = this.$.ref_model.key
			record.model_key = this.$.model_key.value
			record.key_type = this.$.key_type.value
			record.model_display = this.$.model_display.key
			record.top_label = this.$.top_label.value
			record.left_label = this.$.left_label.value
			record.filter = this.$.filter.value
			record.list = this.$.list.value
			record.display = this.$.display.value
			record.create = this.$.create.value
			record.update = this.$.update.value
			record.delete = this.$.delete.value
			record.help = this.$.help.value
			this.$.ajax.url = config_server() + "Attribute/" +record.id
			this.$.ajax.params = record
			this.$.ajax.generateRequest()
		},
		record_updated: function() {
			alert("record updated")
			this.$.dialog.close()
			this.fire('close')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("Error Procesando Solicitud: ", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>