<dom-module id="Product-display">
<template>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">Consultar Producto</h2>
		  <paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name">Nombre</label></td>
				<td><input id="name" type="text" name="name" value="{{item.name}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="stock">Existencia</label></td>
				<td><input id="stock" type="number" name="stock" value="{{item.stock}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="price">Precio</label></td>
				<td><input id="price" type="float" name="price" value="{{item.price}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status">Status</label></td>
				<td><select id="status" name="status" disabled>
						<option value="A">Activo</option>
						<option value="B">Bloqueado</option>
						<option value="I">Inactivo</option>
					</select></td>
			</tr>
			</table>
		  </paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Product-display",
		open_display_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.status.value = item.status
			}
	})
</script>
</dom-module>