<!-- list-columns: version 5.10 -->


<dom-module id="Task-list-columns">
<template>
<style>
	/*#dialog {
		width: 24em;
	}*/
	.green {
		background-color: green;
		color: white;
		height: 30px;
	}
	.orange {
		color: white;
		background-color: orange;
		height: 30px;
	}
</style>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">	
		<h2 class="card_title">Columns Activity</h2>
			<paper-dialog-scrollable>
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><div id="id" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="activity">Activity</label></td>
				<td><div id="activity" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="previous_id">Previous</label></td>
				<td><div id="previous_id" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="order">Order</label></td>
				<td><div id="order" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="type">Type</label></td>
				<td><div id="type" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status">Status</label></td>
				<td><div id="status" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="parent_activity">Parent</label></td>
				<td><div id="parent_activity" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="prioridad">Priority</label></td>
				<td><div id="prioridad" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="requester">Requester</label></td>
				<td><div id="requester" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="requestd">Request</label></td>
				<td><div id="requestd" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="start">Start</label></td>
				<td><div id="start" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="fcompromiso">Commit</label></td>
				<td><div id="fcompromiso" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="end">End</label></td>
				<td><div id="end" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="responsable">Responsible</label></td>
				<td><div id="responsable" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="ultseguimiento">Last Track</label></td>
				<td><div id="ultseguimiento" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="proxseguimiento">Next Track</label></td>
				<td><div id="proxseguimiento" on-click="change_field"></div></td>
			</tr>
			<tr>
				<td><label class="left_label" for="observacion">Notes</label></td>
				<td><div id="observacion" on-click="change_field"></div></td>
			</tr>
			</table>
			</paper-dialog-scrollable>
		<div class="buttons">
			<div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised>Change </paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>Exit</paper-button>
			</div>
		</div>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Task-list-columns",
		properties: {
			//updated: false,
			//column: {}
		},
		open_list_columns: function(column) {
			this.updated= false,
			this.column= column
			this.show_field("id")
			this.show_field("activity")
			this.show_field("previous_id")
			this.show_field("order")
			this.show_field("type")
			this.show_field("status")
			this.show_field("parent_activity")
			this.show_field("prioridad")
			this.show_field("requester")
			this.show_field("requestd")
			this.show_field("start")
			this.show_field("fcompromiso")
			this.show_field("end")
			this.show_field("responsable")
			this.show_field("ultseguimiento")
			this.show_field("proxseguimiento")
			this.show_field("observacion")
			this.$.dialog.open()
		},
		change_field: function(e) {
			var field = e.toElement.id
			this.column[field] = !this.column[field]
			this.show_field(field)
		},
		show_field: function(field) {
			if (this.column[field])
			{  
				this.$[field].innerHTML = "Show"
				this.$[field].classList.remove("orange")
				this.$[field].classList.add("green")
			}
			else
			{
				this.$[field].innerHTML = "Hide"
				this.$[field].classList.remove("green")
				this.$[field].classList.add("orange")
			}
		},
		submit_form: function() {
			this.updated = true
			this.$.dialog.close()
			this.fire('close')
		}
	})
</script>
</dom-module>