<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">

<dom-module id="Product-new">
<template>
	<iron-ajax id="ajax"  handle-as="json" on-response="validate_record" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax2" url="/Product" method="POST" handle-as="json" on-response="record_created" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<h2 class="card_title">Crear Producto</h2>
		<form id="form" action="javascript:void(0);" on-submit="create">
			<paper-dialog-scrollable>
			<div vertical layout>
				<div class="card_line">
					<label class="left_label" for="id">Id</label>
					<input id="id" type="number" name="id" min=1 max=999999 disabled>
				</div>
				<div class="card_line">
					<label class="left_label" for="name">Nombre</label>
					<input id="name" type="text" name="name" required>
				</div>
				<div class="card_line">
					<label class="left_label" for="stock">Existencia</label>
					<input id="stock" type="number" name="stock">
				</div>
				<div class="card_line">
					<label class="left_label" for="price">Precio</label>
					<input id="price" type="text" name="price">
				</div>
				<div class="card_line">
					<label class="left_label" for="status">Status</label>
					<select id="status" name="status">
						<option value="A">Activo</option>
						<option value="B">Bloqueado</option>
						<option value="I">Inactivo</option>
					</select>
				</div>
			 </div>
			</paper-dialog-scrollable>
			<div class="buttons">
				<input id="submit_btn" class="hide" type="submit" value="CREAR">
				<div class="card_line">
					<paper-button id="create_btn" class="btn" on-click="submit_form" raised>CREAR</paper-button>
					<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
				</div>
			</div>
		</form>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Product-new",
		open_dialog: function() {
			this.clear()
			this.$.dialog.open()
		},
		clear: function() {
			this.$.id.value = ''
			this.$.name.value = ''
			this.$.stock.value = ''
			this.$.price.value = ''
		},
		create: function() {
			var record = {}
			record.name = this.$.name.value
			record.stock = Number(this.$.stock.value)
			record.price = Number(this.$.price.value)
			record.status = this.$.status.value			
			this.$.ajax2.params = record
			this.$.ajax2.generateRequest()
		},
		record_created: function() {
			//console.log(this.$.ajax2.lastResponse)
			alert("Created Producto id="+this.$.ajax2.lastResponse.id)
			// ask for create another one
			this.$.dialog.close()
			this.fire('close')
		},
		submit_form: function() {
			if (!isNaN(this.$.id.value))
			{
				if (this.$.id.value > 0)
				{
					this.$.ajax.url = "/Product/exist/"+this.$.id.value
					this.$.ajax.generateRequest()
				}
				else this.$.submit_btn.click()
			} else
				this.$.submit_btn.click()
		},
		validate_record: function() {
			if (this.$.ajax.lastResponse.exist)
				alert("Registro ya Existe")
			else
				this.$.submit_btn.click()
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("Error Procesando Solicitud: ", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>