<!-- new-form: version 5.00 -->
<dom-module id="Customer-new">
<template>
	<iron-ajax id="ajax" handle-as="json" on-response="validate_record" on-error="ajax_error"></iron-ajax>
	<iron-ajax id="ajax2" method="POST" handle-as="json" on-response="record_created" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" exit-animation="fade-out-animation">
		<h2 class="card_title">Crear Cliente</h2>
		<paper-dialog-scrollable>
		  <form id="form" action="javascript:void(0);" on-submit="create">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">id</label></td>
				<td><input id="id" type="number" name="id" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="code">Code</label></td>
				<td><input id="code" type="text" name="code"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name">Nombre<strong class="red"> *</strong></label></td>
				<td><input id="name" type="text" name="name" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="balance">Balance</label></td>
				<td><input id="balance" type="float" name="balance"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="creditLimit">Credit</label></td>
				<td><input id="creditLimit" type="float" name="creditLimit"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="city">Ciudad<strong class="red"> *</strong></label></td>
				<td><input id="city" type="text" name="city" maxlength=25 required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="address">Dirección</label></td>
				<td><input id="address" type="text" name="address"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="status">Status</label></td>
				<td><select id="status" name="status">
						<option value="A">Activo</option>
						<option value="I">Inactivo</option>
						<option value="B">Bloqued</option>
					</select></td>
			</tr>
			</table>
			<div class="buttons">
				<input id="submit_btn" class="hide" type="submit" value="CREAR">
				<div class="card_line">
					Repetir <input id="repeat" type="checkbox" name="repeat">
					<paper-button id="create_btn" class="btn" on-click="submit_form" raised>CREAR</paper-button>
					<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
				</div>
			</div>
		  </form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Customer-new",
		open_dialog: function() {
			this.clear()
			this.$.dialog.open()
		},
		clear: function() {
			this.$.id.value = ''
			this.$.code.value = ''
			this.$.name.value = ''
			this.$.balance.value = ''
			this.$.creditLimit.value = ''
			this.$.city.value = ''
			this.$.address.value = ''
		},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
		},
		set_select_field: function(e) {
			this.$[this.field].value = this.$[e.srcElement.id].item.name
			this.$[this.field].key = this.$[e.srcElement.id].item.key
		},
		create: function() {
			this.$.ajax2.url = config_server() + "Customer"
			var record = {}
			  record.code = this.$.code.value
			  record.name = this.$.name.value
			record.balance = Number(this.$.balance.value)
			record.creditLimit = Number(this.$.creditLimit.value)
			  record.city = this.$.city.value
			  record.address = this.$.address.value
			  record.status = this.$.status.value			
			this.$.ajax2.params = record
			this.$.ajax2.generateRequest()
		},
		record_created: function() {
			alert("Created Cliente id="+this.$.ajax2.lastResponse.id)
			// ask for create another one
			if (!this.$.repeat.checked) {
				this.$.dialog.close()
				this.fire('close')
			} else 
				this.clear()
		},
		submit_form: function() {
			if (!isNaN(this.$.id.value))
			{
				if (this.$.id.value > 0)
				{
					this.$.ajax.url = config_server() + "Customer/exist/"+this.$.id.value
					this.$.ajax.generateRequest()
				}
				else this.$.submit_btn.click()
			} else
				this.$.submit_btn.click()
		},
		validate_record: function() {
			if (this.$.ajax.lastResponse.exist)
				alert("Registro ya Existe")
			else
				this.$.submit_btn.click()
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("Error Procesando Solicitud: ", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>