<!-- edit-form: version 5.00 -->
<dom-module id="Model-edit">
<template>
	<iron-ajax id="ajax" method='PUT' handle-as="json" on-response="record_updated" on-error="ajax_error"></iron-ajax>
	<paper-dialog id="dialog" modal vertical layout entry-animation="scale-up-animation" 	exit-animation="fade-out-animation">
		<Attribute-select id="Attribute_select_dialog" on-item_selected="set_select_field"></Attribute-select>
		<h2 class="card_title">Editar Model</h2>
		<paper-dialog-scrollable>
		<form id="form" action="javascript:void(0);" on-submit="update">
			<table class="table_dialog" style="width:100%">
			<tr>
				<td><label class="left_label" for="id">Id</label></td>
				<td><input id="id" type="number" name="id" value="{{item.id}}" disabled></td>
			</tr>
			<tr>
				<td><label class="left_label" for="name">Name<strong class="red"> *</strong></label></td>
				<td><input id="name" type="text" name="name" value="{{item.name}}" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="title">Title<strong class="red"> *</strong></label></td>
				<td><input id="title" type="text" name="title" value="{{item.title}}" required></td>
			</tr>
			<tr>
				<td><label class="left_label" for="primaryKey">Primary Key</label></td>
				<td><iron-icon icon="find-in-page" field="primaryKey" on-click="select_field_b"></iron-icon><input id="primaryKey" type="text" name="primaryKey" key={{item.primaryKey_id}} value="{{item.primaryKey_attribute}}" on-click="select_field" readonly></td>
			</tr>
			<tr>
				<td><label class="left_label" for="autoIncrement">AutoIncrement</label></td>
				<td><select id="autoIncrement" name="autoIncrement">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			<tr>
				<td><label class="left_label" for="unique">Unique</label></td>
				<td><input id="unique" type="text" name="unique" value="{{item.unique}}"></td>
			</tr>
			<tr>
				<td><label class="left_label" for="menu">Menu</label></td>
				<td><select id="menu" name="menu">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select></td>
			</tr>
			</table>
			<div class="buttons">
			  <input id="submit_update" class="hide" type="submit" value="CAMBIAR">
			  <div class="card_line">
				<paper-button id="update_btn" class="btn" on-click="submit_form" raised>CAMBIAR</paper-button>
				<paper-button id="exit_btn" class="btn" dialog-confirm raised>SALIR</paper-button>
			  </div>
			</div>
		</form>
		</paper-dialog-scrollable>
	</paper-dialog>
</template>
<script>
	Polymer({
		is: "Model-edit",
		open_dialog: function(item) {
			this.item = item
			this.set_select_fields(item)
			this.$.dialog.open()
		},
		set_select_fields(item) {
			this.$.autoIncrement.value = item.autoIncrement
			this.$.menu.value = item.menu
			},
		select_field_b: function(e) {
			this.$[e.toElement.getAttribute("field")].click()
		},
		select_field: function(e) {
			this.field = e.toElement.id
			if (this.field == "primaryKey")
				this.$.Attribute_select_dialog.open_select_dialog()
		},
		set_select_field: function(e) {
			this.$[this.field].value = this.$[e.srcElement.id].item.name
			this.$[this.field].key = this.$[e.srcElement.id].item.key
		},
		submit_form: function() {
			this.$.submit_update.click()
		},
		update: function() {
			var record = {}
			record.id = Number(this.$.id.value)
			record.name = this.$.name.value
			record.title = this.$.title.value
			record.primaryKey = this.$.primaryKey.key
			record.autoIncrement = this.$.autoIncrement.value
			record.unique = this.$.unique.value
			record.menu = this.$.menu.value
			this.$.ajax.url = config_server() + "Model/" +record.id
			this.$.ajax.params = record
			this.$.ajax.generateRequest()
		},
		record_updated: function() {
			alert("record updated")
			this.$.dialog.close()
			this.fire('close')
		},
		ajax_error: function() {
			console.log(this.$.ajax.lastError)
			alert("Error Procesando Solicitud: ", this.$.ajax.lastError)
		}
	})
</script>
</dom-module>