<html>
	<head> 
		<title>Cotizar</title>
		<meta charset="utf-8">
		<meta name="theme-color" content="#40bd9e">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/ico" href="img/favicon.ico">
		<!--<link rel="icon" type="image/png" href="img/sale-26.png" />-->
		<link rel="stylesheet" href="styles/app.css">
		<script src= "bower_components/lodash/lodash.min.js"></script>
		<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
		<script src="components/app-config/app-config.js"></script>
		<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
		<link rel="import" href="bower_components/iron-dropdown/iron-dropdown.html">
		<link rel="import" href="bower_components/iron-icon/iron-icon.html">
		<link rel="import" href="components/app-cotizar/app-cotizar.html">
	</head>
	<body unresolved fullbleed vertical layout touch-action="auto">
		<app-cotizar id="main"></app-cotizar>
	</body> 
</html>